
<link href="../../node_modules/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print" />

<div class="panel panel-default">
    <div class="panel-heading ">
        לו"ז
        <input class='form-control addedCalender' style='width:150px;' ng-model="$ctrl.searchDate" ng-change='$ctrl.customDate()' placeholder='לפי תאריך' type='date' />

        <!--<div id="addminusrowheight">
            <button type="button" class="close">+</button>
            <button type="button" class="close">-</button>
        </div>-->

        <div id="addminusrowheight" class="fc-button-group">
            <button style="float:left;margin-right:3px" class=" btn btn-success btn-xs" ng-show="$ctrl.viewCalenderType=='agendaDay'   && $ctrl.role != 'farmAdminHorse' && $ctrl.role != 'stableman' && $ctrl.role != 'worker'" ng-click="$ctrl.printLessons()"> הדפסה </button>

            <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-left" ng-click='$ctrl.customFont(-5)'>
                <span class="fc-icon fc-icon-down-triangle"></span>
            </button>
            <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-right" ng-click='$ctrl.customFont(5)'>
                <span class="fc-icon fc-icon-up-triangle"></span>
            </button>

            <label style="padding:5px">גודל תצוגה</label>
        </div>




        <span ng-show="$ctrl.role!='instructor' && $ctrl.role!='profAdmin' && $ctrl.role!='farmAdminHorse'   && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="margin-right:50px;text-decoration:underline"> פעילים - </span>
        <span ng-show="$ctrl.role!='instructor' && $ctrl.role!='profAdmin' && $ctrl.role!='farmAdminHorse'   && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="font-weight:bold;font-size:15px">{{$ctrl.activeStudent}} </span>
        <span ng-show="$ctrl.role!='instructor' && $ctrl.role!='profAdmin' && $ctrl.role!='farmAdminHorse'   && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="margin-right:50px;text-decoration:underline"> לא פעילים - </span>
        <span ng-show="$ctrl.role!='instructor' && $ctrl.role!='profAdmin' && $ctrl.role!='farmAdminHorse'   && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="font-weight:bold;font-size:15px">{{$ctrl.notActiveStudent}}</span>
        <span ng-show="$ctrl.role!='instructor' && $ctrl.role!='profAdmin' && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="margin-right:50px;text-decoration:underline"> פנסיון - </span>
        <span ng-show="$ctrl.role!='instructor' && $ctrl.role!='profAdmin' && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="font-weight:bold;font-size:15px">{{$ctrl.pensionStudent}}</span>
        <div style="float:left">
            <div id="mainController"></div>

            <div ng-show="!$ctrl.IsInstructorBlock && $ctrl.role!='farmAdminHorse'   && $ctrl.role!='stableman'  && $ctrl.role!='worker'" style="cursor:pointer;text-align:center;"
                 ng-click="showDiv = !showDiv">




                <span class="red-circle ng-binding" style="background-color:darkorange;font-size:15px;">{{$ctrl.lessonsCompletelength}} </span>&nbsp;ממתינים לשיעור השלמה
            </div>
            <div ng-show="showDiv" class="dvContainer" style="height:550px;overflow:auto">

                <div ng-repeat="lesinst in $ctrl.lessonsComplete |filter:{isInstructor:'1'} | orderBy:['FullName']" style="width:250px">
                    <div class="fc-draggable dvDragElement" style="background-color:goldenrod" ng-click="open = !open">
                        <img ng-show="open" src="../../images/table-arrow-down.png" />
                        <img ng-show="!open" src="../../images/table-arrow-right.png" />
                        {{lesinst.InstructorName}}

                    </div>
                    <div class="fc-draggable dvDragElement" ng-show="open"
                         ondragstart="dragStart(event)"
                         ondragover="allowDrop(event)"
                         draggable="true" id="{{les.Id}}" ng-repeat="les in $ctrl.lessonsComplete |filter:{isInstructor:'0',InstructorName:lesinst.InstructorName} |orderBy:['FullName','completionReq']">{{les.FullName}}({{les.completionReq}})</div>
                </div>
            </div>
        </div>

        <div style="float:left" ng-show="!$ctrl.IsInstructorBlock && $ctrl.role!='farmAdminHorse'   && $ctrl.role!='stableman'  && $ctrl.role!='worker' ">

            <div class="dvContainerSearch">
                <input style="height:25px" type="text" name="search" class="form-control" placeholder="חיפוש תלמיד בהשלמה" ng-model="searchInput" autocomplete="off" />
                <div ng-show="searchInput" style="border:solid 1px #ddd">

                    <div ng-repeat="les in $ctrl.lessonsComplete | filter:{isInstructor:'0'} | filter:searchInput |  orderBy:['FullName','completionReq'] ">

                        <div class="fc-draggable dvDragElement"
                             ondragstart="dragStart(event)"
                             ondragover="allowDrop(event)"
                             draggable="true" id="{{les.Id}}" style="cursor:pointer;border-top:1px solid #ddd;padding:5px">{{les.FullName}} ({{les.completionReq}}) </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <style>
        .dvContainer {
            position: absolute;
            background-color: white;
            border: solid 1px gray;
            border-radius: 10px;
            font-weight: bold;
            overflow: auto;
            z-index: 5000;
            left: 20px;
        }


        .dvContainerSearch {
            position: absolute;
            background-color: white;
            border: solid 1px gray;
            border-radius: 10px;
            font-weight: bold;
            overflow: auto;
            z-index: 5000;
            left: 220px;
        }

        .dvDragElement {
            border-bottom: solid 1px gray;
            padding: 5px;
            cursor: pointer;
        }

            .dvDragElement:hover {
                background: #fcf8e3;
            }
    </style>

    <script>


        var currentStudentId = "";
        function dragStart(event) {
            //  $(".hadPeami").hide();
            currentStudentId = event.target.id;
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function drop(event) {

            // $(".hadPeami").show();
            angular.element(document.getElementById('mainController')).scope().makeDrop(event, currentStudentId);
            currentStudentId = "";

        }



    </script>


    <div class="panel-body">


        <event event="$ctrl.selectedLesson" delete-callback="$ctrl.eventDelete" close-callback="$ctrl.eventClose" students="$ctrl.students" horses="$ctrl.horses"></event>

        <pay studentid="$ctrl.selectedStudent" selectedpayvalue="$ctrl.selectedPayValue" delete-callback="$ctrl.eventDelete" close-callback="$ctrl.eventClose" students="$ctrl.students"></pay>

        <schedular selectedStudentSchedular="$ctrl.selectedStudentSchedular" delete-callback="$ctrl.eventDelete" close-callback="$ctrl.eventClose" students="$ctrl.students"></schedular>




        <div class="form-group">
            <label>מדריכים</label>

            (<div class="checkbox-inline">


                <label style="color:blue"><input type="checkbox" ng-model="selectAll" ng-click="$ctrl.reloadCheckUnCheck()" /> סמן הכל</label>
            </div>)

            <div class="checkbox-inline" ng-repeat="instructor in $ctrl.instructors">
                <label style="color:{{instructor.EventsColor}}"><input type="checkbox" name="selectedInstructors[]" ng-model="instructor.Show" ng-click="$ctrl.reloadCalendarData()" /> {{instructor.FirstName}} {{instructor.LastName}}</label>
            </div>
        </div>




        <div class="form-group" ondrop="drop(event)" ondragover="allowDrop(event)">
            <calendar events="$ctrl.filteredLessons"
                      background-events="$ctrl.backgroundEvents"
                      resources="$ctrl.resources"
                      event-change="$ctrl.eventChange"
                      event-click="$ctrl.eventClick"
                      event-create="$ctrl.eventCreate"
                      past-edit="true"
                      view="agendaDay"
                      start-date="$ctrl.startDate"
                      end-date="$ctrl.endDate">
            </calendar>
        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-click="$ctrl.modalClick(false)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">האם לשנות גם אירועים עתידיים?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modalClick(false)" data-dismiss="modal">שנה אירוע נוכחי בלבד</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.modalClick(true)" data-dismiss="modal">שנה אירועים עתידיים</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAppend2" style="z-index:50000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">האם לשנות גם אירועים עתידיים?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modalAppendClick2(false)" data-dismiss="modal" id="dvAppendHad">הוסף תלמיד באופן חד פעמי</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modalAppendClick2(true)" data-dismiss="modal" id="dvAppendTz">הוסף תלמיד לצמיתות </button>
            </div>
        </div>
    </div>
</div>





