
<style>
    .tranferStudent {
        float: right;
        padding-right: 1px;
    }

    .tranferStudentButton {
        margin-top: 2px;
        float: right;
        padding-right: 1px;
    }

    .myStyle {
        background: red;
        color: white;
        font-weight: bold;
    }
</style>



<div class="event-background" ng-if="$ctrl.event != null" ng-click="$ctrl.hide($event)">


    <comments studentid="$ctrl.selectedStudent" close-callback="$ctrl.commentClose"></comments>
    <newstudent studentid="$ctrl.createStudent" farmId="$ctrl.f" close-callback="$ctrl.createStudentClose"></newstudent>
    <matrotal studentidmatrot="$ctrl.selectedStudentmatrot" mode="$ctrl.mode"></matrotal>
    <div class="event">

        <!--<div class="form-group" ng-if="!$ctrl.readOnly">-->

        <div ng-show="!$ctrl.IsInstructorBlock">
            <!--ng-show="$ctrl.role=='farmAdmin' || $ctrl.role=='sysAdmin' "-->

            <div class="tranferStudent">
                <input class="form-control" type="date" ng-model="$ctrl.tranferDate" ng-change="$ctrl.puplateInstructor()" />
            </div>
            <div class="tranferStudent">
                <select class="form-control" style="width:100%" ng-change="$ctrl.puplateTimesInstructor()"
                        ng-model="$ctrl.SelectedinstructordId" ng-options="instructor.Id as instructor.Result for instructor in $ctrl.instructorsWorks">
                    <option value="">-- בחר מדריך --</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="tranferStudentButton">
                <select class="form-control"
                        ng-model="$ctrl.SelectedinstructordTime">
                    <option value="0">-------בחר שעה---------</option>
                    <option ng-class="{myStyle: x.IsTafus == '1'}" ng-disabled="x.IsTafus" ng-repeat="x in $ctrl.instructorsWorksTimes" value="{{x.Id}}">{{x.Result}}</option>

                </select>
            </div>
            <div class="tranferStudentButton">
                <button class="btn btn-success" ng-disabled="$ctrl.SelectedinstructordTime==0 || $ctrl.SelectedinstructordId==undefined || !$ctrl.SelectedinstructordId" ng-click="$ctrl.transferLesson()" href="">העבר</button>
            </div>


            <div class="form-group">
                <div class="clearfix"></div>
                <hr />
            </div>
            <label>הוספת תלמיד</label>
            <input class="form-control" type="text" ng-model="$ctrl.studentFilter" />
            <div class="student-list">
                <ul ng-show="$ctrl.studentFilter != '' && $ctrl.studentFilter ">
                    <li ng-click="$ctrl.addStudentToEvent(student)" ng-if="student.Active == 'active'" ng-repeat="student in $ctrl.students | filterStudents: $ctrl.studentFilter ">{{student.FirstName}} {{student.LastName}} <span ng-if="student.Active == 'notActive'">(לא פעיל)</span></li>
                </ul>
            </div>
            <!--<select class="form-control" ng-change="$ctrl.addStudentToEvent()" ng-options="student.Id as student.FirstName + ' ' + student.LastName for student in $ctrl.students | filterDeletedStudents" ng-model="$ctrl.selectedStudent">
                <option value="">בחר תלמיד</option>
            </select>-->
        </div>

        <div class="form-group">
            <label>הערות משרד (כללי)</label>
            <textarea class="form-control" ng-model="$ctrl.event.details"></textarea>
        </div>

        <div class="form-group">
            <label> תלמידים  </label>
            <a class="btn btn-primary btn-xs" style="float:left" ng-show="!$ctrl.IsInstructorBlock" ng-click="$ctrl.createNewStudent(1)" href="">תלמיד חדש</a>
            <a class="btn btn-success btn-xs" style="float:left;margin-left:2px" ng-show="$ctrl.role=='farmAdmin' || $ctrl.role=='sysAdmin' " ng-click="showDetails=!showDetails;$ctrl.changeToOffice(1)">{{showDetails ? 'הצג הערות מדריך':   'הצג הערות משרד'}} </a>
            <table class="table small-padding">
                <tr ng-repeat-start="studentId in $ctrl.event.students track by $index">
                    <td colspan="3">
                        <a href="" ui-sref="student({id:studentId})">{{$ctrl.studentDataById(studentId).FirstName}} {{$ctrl.studentDataById(studentId).LastName}}</a>
                        <b>{{$ctrl.getStudentAge(studentId)}}</b>
                        <a href="tel:{{$ctrl.studentDataById(studentId).PhoneNumber}}">{{$ctrl.studentDataById(studentId).PhoneNumber}}</a>

                        <a class="pull-left close" ng-show="!$ctrl.IsInstructorBlock" ng-click="$ctrl.removeStudentFromEvent(studentId)" href="">&times;</a>

                        <select ng-show="!$ctrl.IsInstructorBlock" class="pull-left " style="margin-left:15px;" ng-change="$ctrl.changeHorseValidation(studentId)"
                                ng-model="$ctrl.horsesarray[studentId]" ng-options="hors.Id as hors.Name for hors in $ctrl.horses">
                            <option value="">-- בחר סוס --</option>
                        </select>

                    </td>

                </tr>
                <tr ng-repeat-end class="status-row">
                    <td>
                        <div class="form-group">
                            <select class="form-control" ng-change="$ctrl.changeStudentstatus(studentId)" ng-model="$ctrl.statuses[studentId]" ng-options="status.id as status.name for status in $ctrl.getStatusofStudent(studentId) | filter:{hide:false}">
                                <option value="">סטטוס</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                           

                            <textarea rows="1" class="form-control" ng-show="!showDetails" placeholder="הערות מדריך" ng-model="$ctrl.statusDetails[studentId]"></textarea>
                            <!--<input type="text" class="form-control" placeholder="הערות סטטוס" ng-model="$ctrl.statusDetails[studentId]">-->
                            <textarea rows="1" class="form-control" ng-show="showDetails" ng-model="$ctrl.statusOfficeDetails[studentId]" placeholder="הערות משרד"></textarea>  <!--ng-change="$ctrl.setLessonsDetails(lesson)"-->


                        </div>
                    </td>
                    <td valign="bottom" style="padding-top:9px;">


                        <!--הסתרה בעת חווה 79 סוסים בכפר-->
                        <a class="btn btn-success btn-xs" ng-show="!showDetails && $ctrl.FarmId!=79" ng-click="$ctrl.openComments(studentId)" href="">...</a>
                        <a class="btn btn-success btn-xs" ng-show="showDetails" style="visibility:hidden" href="">...</a>

                        <a class="btn btn-primary btn-xs" title="משוב לשיעור" ng-show="!showDetails" ng-click="$ctrl.openMatrotal(studentId,1)" href="">...</a>
                        <a class="btn btn-info btn-xs" title="מטרות הטיפול" ng-show="!showDetails" ng-click="$ctrl.openMatrotal(studentId,2)" href="">...</a>

                    </td>


                </tr>
            </table>
        </div>

        <div class="form-group" ng-show="!$ctrl.IsInstructorBlock">
            <label>כמות יצירת שיעורים נוספים</label>
            <input class="form-control" type="number" ng-model="$ctrl.lessonsQty" /><!--ng-disabled="$ctrl.event.prevId != 0"-->
        </div>

        <a class="btn btn-success" ng-click="$ctrl.close()" href="">שמור</a>
        <a class="btn btn-default" ng-click="$ctrl.delete()" ng-show="!$ctrl.IsInstructorBlock" href="">מחק</a>
        <div class="checkbox-inline" ng-show="!$ctrl.IsInstructorBlock"><label><input type="checkbox" ng-model="$ctrl.affectChildren">כולל אירועים עתידיים</label></div>
    </div>
</div>

<div class="modal fade" id="modalAppend" style="z-index:50000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">האם לשנות גם אירועים עתידיים?</h4>
            </div>
            <div class="modal-body">
                
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modalAppendClick(false)" data-dismiss="modal" id="dvAppendHad">הוסף תלמיד באופן חד פעמי</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modalAppendClick(true)" data-dismiss="modal" id="dvAppendTz">הוסף תלמיד לצמיתות </button>
            </div>
        </div>
    </div>
</div>