<style>
    .leda {
        background: #99ff99 !important;
    }


    .ledaFaild {
        background: #ff8c66 !important;
    }

    .haliva {
        background: #ffff00 !important;
    }
</style>





<div class="row">
    <div class="col-md-4">
        <!--horse data form-->
        <form name="horseForm" ng-submit="$ctrl.submit()" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    סוס
                    <button type="submit" class="btn btn-xs btn-success pull-left" ng-disabled="horseForm.$invalid" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'">עדכון</button>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>מזהה</label>
                            <input type="number" disabled class="form-control" ng-model="$ctrl.horse.Id" />
                        </div>
                        <div class="col-md-6">
                            <label>פעיל</label>
                            <select class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Active" required>
                                <option value="active">פעיל</option>
                                <option value="notActive">לא פעיל</option>
                            </select>
                        </div>


                    </div>

                    <div class="form-group col-md-12">
                        <imagepicker model="$ctrl.horse.Image" image-label="תמונת סוס" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>שם</label>
                        <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Name" required />
                    </div>
                    <div class="form-group col-md-12">
                        <label>גזע</label>
                        <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Race" />
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label>תאריך הגעה</label>
                            <input type="date" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.ArrivedDate" />
                        </div>
                        <div class="col-md-6">
                            <label>תאריך יציאה</label>
                            <input type="date" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.OutDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>מס' סידורי</label>
                            <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.SeqNumber" />
                        </div>
                        <div class="col-md-6">
                            <label>שבב</label>
                            <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Shvav" />
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-md-6">
                            <label>מין</label>
                            <select class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Gender" required>
                                <option value="">בחר מין</option>
                                <option value="male">זכר</option>
                                <option value="female">נקבה</option>
                                <option value="castrated">מסורס</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>בעלים</label>

                            <input type="text" class="form-control" ng-model="$ctrl.horse.Owner" ng-disabled="true" />
                            <!--<a ng-if="$ctrl.role!='worker' && $ctrl.subrole!='worker' && $ctrl.role!='stableman' && $ctrl.subrole!='stableman'" class="" ui-sref="student({id:$ctrl.horse.OwnerId})">{{$ctrl.horse.Owner}} </a>-->


                            <div ng-if="(($ctrl.role!='vetrinar' && $ctrl.role!='shoeing') || !$ctrl.diffHorseFarm) &&   $ctrl.role!='worker' && $ctrl.subrole!='worker' && $ctrl.role!='stableman' && $ctrl.subrole!='stableman'" style="cursor:pointer;text-decoration:underline;color:dodgerblue" ng-click="$ctrl.goToStudent()">{{$ctrl.horse.Owner}} </div>


                        </div>




                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>אב סוס</label>
                            <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Father" />
                        </div>
                        <div class="col-md-6">
                            <label>אם סוס</label>
                            <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Mother" />
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>שיוך הסוס</label>
                            <select class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Ownage">
                                <option value="">בחר שיוך הסוס</option>

                                <option value="pension">פנסיון</option>
                                <option value="school">בית ספר</option>
                                <option value="farm">חווה</option>

                                <option value="pensionEnglish">פנסיון אינגליש</option>
                                <option value="pensionMaravi">פנסיון מערבי</option>
                                <option value="pensionKating">פנסיון קאטינג</option>
                                <option value="pensionMere">פנסיון מרעה</option>

                                <option value="marbiah">סוס מרביע</option>
                                <option value="puriot">פוריות</option>
                                <option value="pundekaut">פונדקאות</option>
                                <option value="hamlta">המלטה</option>
                                <option value="imon">אימון</option>

                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>מיקום הסוס</label>
                            <select class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.HorseLocation">
                                <option value="">חווה</option>

                                <option value="outer">חוץ לחווה</option>


                            </select>
                        </div>
                    </div>


                    <div class="form-group">




                        <div class="col-md-6">
                            <label>פרק זמן בין פרזולים(בשבועות)</label>
                            <input type="number" class="form-control" ng-model="$ctrl.horse.ShoeingTimeZone" />
                        </div>

                        <div class="col-md-6">
                            <label>מחיר פירזול</label>
                            <input type="number" class="form-control" ng-model="$ctrl.horse.ShoeingCost" />
                        </div>

                        <div class="col-md-6">
                            <label>תאריך לידה</label>
                            <input type="date" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.BirthDate" required />
                        </div>

                    </div>




                    <div class="form-group col-md-12">
                        <label>הערות</label>
                        <input type="text" class="form-control" ng-disabled="$ctrl.diffHorseFarm" ng-model="$ctrl.horse.Details" />


                    </div>

                    <div class="form-group col-md-12" ng-if="$ctrl.role=='sysAdmin'">
                        <label>חווה</label>
                        <select class="form-control" ng-options="farm.Id as farm.Name for farm in $ctrl.farms" ng-model="$ctrl.horse.Farm_Id">
                            <option value="">בחר חווה</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'">
                    <button type="submit" class="btn btn-success" ng-disabled="horseForm.$invalid">עדכון</button>
                    <button type="button" ng-disabled="$ctrl.diffHorseFarm" class="btn btn-default" ng-click="$ctrl.delete()">מחק</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <uib-tabset active="active" class="tab-form-demo">
            <uib-tab index="0" heading="כללי" ng-if="$ctrl.role!='vetrinar' && $ctrl.role!='shoeing'">

                <!--feeding-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        אוכל
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>בוקר</label>
                            <input type="text" class="form-control" ng-model="$ctrl.horse.Morning1" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="$ctrl.horse.Morning2" />
                        </div>
                        <div class="form-group">
                            <label>צהריים</label>
                            <input type="text" class="form-control" ng-model="$ctrl.horse.Lunch1" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="$ctrl.horse.Lunch2" />
                        </div>
                        <div class="form-group">
                            <label>ערב</label>
                            <input type="text" class="form-control" ng-model="$ctrl.horse.Dinner1" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="$ctrl.horse.Dinner2" />
                        </div>
                    </div>
                </div>

                <!--horse files-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        קבצים
                    </div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="file in $ctrl.files">
                                <td><a ng-href="{{$ctrl.uploadsUri + file.FileName}}" target="_blank">{{file.FileName}}</a></td>
                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeFile(file.FileName,1)">הסר</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <input type="file" filename="$ctrl.newFile" filename-callback="$ctrl.uploadFile" />
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        חוזה חתום
                    </div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="file in $ctrl.hozefiles">
                                <td><a ng-href="{{$ctrl.uploadsUri + file.FileName}}" target="_blank">{{file.FileName}}</a></td>
                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeFile(file.FileName,2)">הסר</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <input type="file" filename="$ctrl.newFile" filename-callback="$ctrl.uploadFileHoze" />
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        רישום פונדקאות בעמותה
                    </div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="file in $ctrl.pundekautfiles">
                                <td><a ng-href="{{$ctrl.uploadsUri + file.FileName}}" target="_blank">{{file.FileName}}</a></td>
                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeFile(file.FileName,3)">הסר</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <input type="file" filename="$ctrl.newFile" filename-callback="$ctrl.uploadFilePundekaut" />
                    </div>
                </div>

            </uib-tab>
            <uib-tab index="1" ng-if="1==1">
                <uib-tab-heading>
                    {{$ctrl.role=='shoeing'?'פירזולים':'טיפולים'}}
                </uib-tab-heading>
                <!--treatments-->
                <div class="panel panel-default" ng-if="$ctrl.role!='shoeing'">
                    <div class="panel-heading">
                        טיפולים
                    </div>
                    <table class="table" expandable>
                        <thead>
                            <tr>
                                <th>תאריך</th>
                                <th>מהות הטיפול</th>
                                <th>מחיר</th>
                                <th>הנחה</th>
                                <th>מחיר סופי</th>
                                <!--<th>קובץ</th>-->
                                <th>שולם</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-click="$ctrl.typeupload=1;$ctrl.typeuploadId=treatment.Id;$ctrl.ObjectDate=treatment.Date" ng-repeat="treatment in $ctrl.treatments | orderByDateDesc track by $index">
                            <tr ng-click="showDivTreatment = !showDivTreatment;">
                                <td>{{treatment.Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td>{{treatment.Name}}</td>

                                <td>{{treatment.Cost}}</td>
                                <td>{{treatment.Discount}}</td>
                                <td><span ng-show="treatment.Cost > 0">  {{treatment.Cost - treatment.Discount}}</span> </td>


                                <td> <i class="fa fa-check-circle-o green" ng-show="(($ctrl.role=='vetrinar' || $ctrl.role=='shoeing') && $ctrl.diffHorseFarm && treatment.HavaIsPaid=='1') || (treatment.IsPaid=='1')" aria-hidden="true"></i></td>
                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeTreatment(treatment)">הסר</button></td>
                            </tr>

                            <tr ng-show="showDivTreatment">
                                <td colspan="7" style="background:#0099cc">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            קבצים - טיפולים

                                            <div class="form-group" style="float:left">
                                                <input type="file" filename="$ctrl.newTreatment.FileName" multiple filename-callback="$ctrl.uploadFileTreatment" />
                                            </div>
                                        </div>


                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>תאריך</th>
                                                    <th>שם קובץ</th>
                                                    <th>הסר קובץ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="display:revert;" ng-repeat="state in $ctrl.getCurrentFiles(treatment.HorseId,1,treatment.Id) track by $index">
                                                    <td>{{state.Date | ildate: 'DD/MM/YYYY'}}</td>
                                                    <td><a ng-href="{{$ctrl.uploadsUri + state.Name}}" target="_blank">{{state.Name}}</a></td>
                                                    <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.removeHorsesFiles(state.Name)">הסר</button></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>






                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="treatmentForm">

                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="$ctrl.newTreatment.Date" placeholder="תאריך" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newTreatment.Name" placeholder="מהות הטיפול" required />
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newTreatment.Cost" placeholder="מחיר" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newTreatment.Discount" placeholder="הנחה" />
                            </div>


                            <button type="submit" class="btn btn-success" ng-disabled="treatmentForm.$invalid" ng-click="$ctrl.addTreatment()">הוספה</button>
                        </form>
                    </div>
                </div>

                <!--vaccinations-->
                <div class="panel panel-default" ng-if="$ctrl.role!='shoeing'">
                    <div class="panel-heading">
                        חיסונים
                    </div>
                    <table class="table" expandable>
                        <thead>
                            <tr>
                                <th>תאריך</th>
                                <th>סוג</th>
                                <th>הערות</th>
                                <th>מחיר</th>
                                <th>הנחה</th>
                                <th>מחיר סופי</th>

                                <th>שולם</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-click="$ctrl.typeupload=2;$ctrl.typeuploadId=vaccination.Id;$ctrl.ObjectDate=vaccination.Date" ng-repeat="vaccination in $ctrl.vaccinations | orderByDateDesc track by $index">
                            <tr ng-click="showDivVaccination = !showDivVaccination;">
                                <td>{{vaccination.Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td>{{vaccination.Type}}</td>
                                <td>{{vaccination.Name}}</td>
                                <td>{{vaccination.Cost}}</td>
                                <td>{{vaccination.Discount}}</td>
                                <td><span ng-show="vaccination.Cost > 0">  {{vaccination.Cost - vaccination.Discount}}</span> </td>

                                <td> <i class="fa fa-check-circle-o green" ng-show="(($ctrl.role=='vetrinar' || $ctrl.role=='shoeing') && $ctrl.diffHorseFarm && vaccination.HavaIsPaid=='1') || (vaccination.IsPaid=='1')" aria-hidden="true"></i></td>


                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeVaccination(vaccination)">הסר</button></td>
                            </tr>


                            <tr ng-show="showDivVaccination">
                                <td colspan="8" style="background:#0099cc">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            קבצים - חיסונים

                                            <div class="form-group" style="float:left">
                                                <input type="file" filename="$ctrl.newVaccination.FileName" multiple filename-callback="$ctrl.uploadFileVaccination" />
                                            </div>
                                        </div>


                                        <table class="table" expandable>
                                            <thead>
                                                <tr>
                                                    <th>תאריך</th>
                                                    <th>שם קובץ</th>
                                                    <th>הסר קובץ</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="display:revert;" ng-repeat="state in $ctrl.getCurrentFiles(vaccination.HorseId,2,vaccination.Id) track by $index">
                                                    <td>{{state.Date | ildate: 'DD/MM/YYYY'}}</td>
                                                    <td><a ng-href="{{$ctrl.uploadsUri + state.Name}}" target="_blank">{{state.Name}}</a></td>
                                                    <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.removeHorsesFiles(state.Name)">הסר</button></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>









                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="vaccinationForm">
                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="$ctrl.newVaccination.Date" placeholder="תאריך" required />
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="$ctrl.newVaccination.Type" required ng-options="vaccination.id as vaccination.name for vaccination in $ctrl.vaccinationsHorse">
                                    <option value="">בחר חיסון</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newVaccination.Name" placeholder="הערות" />
                            </div>


                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newVaccination.Cost" placeholder="מחיר" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newVaccination.Discount" placeholder="הנחה" />
                            </div>








                            <button type="submit" class="btn btn-success" ng-disabled="vaccinationForm.$invalid" ng-click="$ctrl.addVaccination()">הוספה</button>
                        </form>
                    </div>
                </div>

                <!--shoeing-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        פירזול
                    </div>
                    <table class="table" expandable>
                        <thead>
                            <tr>
                                <th>תאריך</th>
                                <th>שם המפרזל</th>
                                <th>הערות</th>
                                <th>מחיר</th>
                                <th>הנחה</th>
                                <th>מחיר סופי</th>

                                <th>שולם</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-click="$ctrl.typeupload=3;$ctrl.typeuploadId=shoeing.Id;$ctrl.ObjectDate=shoeing.Date" ng-repeat="shoeing in $ctrl.shoeings | orderByDateDesc track by $index">
                            <tr ng-click="showDivShoeing = !showDivShoeing;">
                                <td>{{shoeing.Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td>{{shoeing.ShoerName}}</td>
                                <td>{{shoeing.Name}}</td>
                                <td>{{shoeing.Cost}}</td>
                                <td>{{shoeing.Discount}}</td>
                                <td><span ng-show="shoeing.Cost > 0">  {{shoeing.Cost - shoeing.Discount}}</span> </td>

                                <td> <i class="fa fa-check-circle-o green" ng-show="(($ctrl.role=='vetrinar' || $ctrl.role=='shoeing') && $ctrl.diffHorseFarm && shoeing.HavaIsPaid=='1') || (shoeing.IsPaid=='1')" aria-hidden="true"></i></td>

                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeShoeing(shoeing)">הסר</button></td>
                            </tr>


                            <tr ng-show="showDivShoeing">
                                <td colspan="8" style="background:#0099cc">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            קבצים - פירזול

                                            <div class="form-group" style="float:left">
                                                <input type="file" filename="$ctrl.newShoeing.FileName" multiple filename-callback="$ctrl.uploadFileShoeings" />
                                            </div>
                                        </div>


                                        <table class="table" expandable>
                                            <thead>
                                                <tr>
                                                    <th>תאריך</th>
                                                    <th>שם קובץ</th>
                                                    <th>הסר קובץ</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="display:revert;" ng-repeat="state in $ctrl.getCurrentFiles(vaccination.HorseId,3,shoeing.Id) track by $index">
                                                    <td>{{state.Date | ildate: 'DD/MM/YYYY'}}</td>
                                                    <td><a ng-href="{{$ctrl.uploadsUri + state.Name}}" target="_blank">{{state.Name}}</a></td>
                                                    <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.removeHorsesFiles(state.Name)">הסר</button></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>





                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="shoeingForm">
                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="$ctrl.newShoeing.Date" placeholder="תאריך" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newShoeing.ShoerName" placeholder="שם המפרזל" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newShoeing.Name" placeholder="הערות" />
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newShoeing.Cost" placeholder="מחיר" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newShoeing.Discount" placeholder="הנחה" />
                            </div>



                            <button type="submit" class="btn btn-success" ng-disabled="shoeingForm.$invalid" ng-click="$ctrl.addShoeing()">הוספה</button>
                        </form>
                    </div>
                </div>

                <!--tilufeing-->
                <div class="panel panel-default" ng-if="$ctrl.role!='shoeing'">
                    <div class="panel-heading">
                        טילוף
                    </div>
                    <table class="table" expandable>
                        <thead>
                            <tr>
                                <th>תאריך</th>
                                <th>שם המטלף</th>
                                <th>הערות</th>
                                <th>מחיר</th>
                                <th>הנחה</th>
                                <th>מחיר סופי</th>

                                <th>שולם</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-click="$ctrl.typeupload=4;$ctrl.typeuploadId=tiluf.Id;$ctrl.ObjectDate=tiluf.Date" ng-repeat="tiluf in $ctrl.tilufings | orderByDateDesc track by $index">
                            <tr ng-click="showDivTiluf = !showDivTiluf;">
                                <td>{{tiluf.Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td>{{tiluf.ShoerName}}</td>
                                <td>{{tiluf.Name}}</td>
                                <td>{{tiluf.Cost}}</td>
                                <td>{{tiluf.Discount}}</td>
                                <td><span ng-show="tiluf.Cost > 0">  {{tiluf.Cost - tiluf.Discount}}</span> </td>

                                <td> <i class="fa fa-check-circle-o green" ng-show="(($ctrl.role=='vetrinar' || $ctrl.role=='shoeing') && $ctrl.diffHorseFarm && tiluf.HavaIsPaid=='1') || (tiluf.IsPaid=='1')" aria-hidden="true"></i></td>





                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeTiluf(tiluf)">הסר</button></td>
                            </tr>

                            <tr ng-show="showDivTiluf">
                                <td colspan="8" style="background:#0099cc">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            קבצים - טילוף


                                            <div class="form-group" style="float:left">
                                                <input type="file" filename="$ctrl.newTiluf.FileName" multiple filename-callback="$ctrl.uploadFileTilufings" />
                                            </div>
                                        </div>


                                        <table class="table" expandable>
                                            <thead>
                                                <tr>
                                                    <th>תאריך</th>
                                                    <th>שם קובץ</th>
                                                    <th>הסר קובץ</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="display:revert;" ng-repeat="state in $ctrl.getCurrentFiles(tiluf.HorseId,4,tiluf.Id) track by $index">
                                                    <td>{{state.Date | ildate: 'DD/MM/YYYY'}}</td>
                                                    <td><a ng-href="{{$ctrl.uploadsUri + state.Name}}" target="_blank">{{state.Name}}</a></td>
                                                    <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.removeHorsesFiles(state.Name)">הסר</button></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>







                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="tilufForm">
                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="$ctrl.newTiluf.Date" placeholder="תאריך" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newTiluf.ShoerName" placeholder="שם המטלף" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newTiluf.Name" placeholder="הערות" />
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newTiluf.Cost" placeholder="מחיר" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newTiluf.Discount" placeholder="הנחה" />
                            </div>











                            <button type="submit" class="btn btn-success" ng-disabled="tilufForm.$invalid" ng-click="$ctrl.addTiluf()">הוספה</button>
                        </form>
                    </div>
                </div>

            </uib-tab>
            <uib-tab index="2" heading="הריונות" ng-if="$ctrl.horse.Gender == 'female' &&  $ctrl.role!='vetrinar' && $ctrl.role!='shoeing'">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        חוזים
                    </div>
                    <table class="table" expandable>
                        <thead>
                            <tr>
                                <th>מס'</th>
                                <th>תאריך</th>
                                <th>סוג</th>
                                <th>סוס אב</th>
                                <th>נסיונות</th>
                                <th>עלות כוללת</th>
                                <th>תשלום לבעל הסוס</th>
                                <th>תשלום לחווה</th>
                                <th> שולם</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="hozim in $ctrl.getHozim()|orderBy:'-Date'">

                            <tr>
                                <td>{{hozim.Id}}</td>
                                <td>{{hozim.Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td>{{hozim.TypeName}}</td>
                                <td>


                                    <a ui-sref="horse({id:hozim.FatherHorseId})">{{hozim.FatherName}}</a>


                                </td>
                                <td>{{hozim.Trial}}</td>
                                <td>{{hozim.Cost}}</td>
                                <td>{{hozim.CostFather}}</td>
                                <td>{{hozim.CostHava}}</td>
                                <td><i class="fa fa-check-circle-o green" ng-show="hozim.IsPaid=='1'" aria-hidden="true"></i></td>
                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeHozims(hozim)">הסר</button></td>
                            </tr>



                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="hozimsForm">


                            <div class="form-group col-md-3">
                                <input type="date" class="form-control" ng-model="$ctrl.newHozim.Date" placeholder="תאריך" required />
                            </div>

                            <div class="form-group col-md-3">

                                <select class="form-control" ng-model="$ctrl.newHozim.Type" required ng-options="hozimtype.id as hozimtype.name for hozimtype in $ctrl.hozimTypes">
                                    <option value="">בחר סוג</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">

                                <select class="form-control" ng-model="$ctrl.newHozim.FatherHorseId" required>
                                    <option value="">בחר סוס אב</option>
                                    <option ng-repeat="horse in $ctrl.horses|filter:{Gender:'male',Adtive:'!notActive'}:true" value="{{horse.Id}}">{{horse.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" ng-model="$ctrl.newHozim.Trial" placeholder="כמות נסיונות" />
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" ng-model="$ctrl.newHozim.Cost" placeholder="עלות כוללת" />
                            </div>

                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" ng-model="$ctrl.newHozim.CostFather" placeholder="תשלום לבעל סוס" />
                            </div>

                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" ng-model="$ctrl.newHozim.CostHava" placeholder="תשלום לחווה" />
                            </div>

                            <div class="form-group col-md-3">

                                <select class="form-control" ng-model="$ctrl.newHozim.UserId">
                                    <option value="">--עובד מבצע--</option>
                                    <option ng-repeat="instructor in $ctrl.instructors|filter:{IsMazkirut:'1'}|orderBy:'LastName'" value="{{instructor.Id}}">{{instructor.FirstName}} {{instructor.LastName}}</option>
                                </select>
                                <!--<select class="form-control" style=""
                                        ng-model="$ctrl.newHozim.UserId" ng-options="instructor.Id as instructor.Result for instructor in $ctrl.instructorsWorks">
                                    <option value="">-- בחר מדריך --</option>
                                </select>-->
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success" ng-click="$ctrl.addHozims()" ng-disabled="hozimsForm.$invalid" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'">הוספת חוזה</button>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>



                <!--pregnancies-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        הריונות
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>מס' חוזה</th>
                                <th>תאריך התחלה</th>
                                <th>שלב אחרון</th>
                                <th>אב</th>
                                <th>אם/אומנת</th>
                                <th>הערות</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-click="showDiv = !showDiv" ng-repeat="pregnancy in $ctrl.pregnancies track by $index">
                            <tr style="cursor:pointer" ng-class="$ctrl.pregnancyStatus(pregnancy)">
                                <td>{{pregnancy.HozimId}}</td>
                                <td>{{$ctrl.getStatesByFind(pregnancy.Id,0).Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td>{{$ctrl.getStatesByFind(pregnancy.Id,-1).Date | ildate: 'DD/MM/YYYY'}}: {{$ctrl.getStatesByFind(pregnancy.Id,-1).name}}</td>
                                <td>{{pregnancy.Father}}</td>
                                <td>
                                    <a ui-sref="horse({id:pregnancy.SurrogateId})" ng-if="pregnancy.SurrogateId">אומנת: {{pregnancy.SurrogateName}}</a>
                                    <a ui-sref="horse({id:pregnancy.MotherId})" ng-if="pregnancy.Mother">אם: {{pregnancy.Mother}}</a>
                                </td>
                                <td><input type="text" ng-model="pregnancy.Comments"></td>
                                <td><button class="btn btn-xs btn-default" ng-click="$ctrl.removePregnancy(pregnancy)">הסר</button></td>
                            </tr>
                            <tr ng-show="showDiv">
                                <td colspan="7" style="background:#fff778">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            הסטורית שלבים הריון
                                        </div>


                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>תאריך</th>
                                                    <th>שלב</th>
                                                    <th>מחיר</th>
                                                    <th>שולם</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="state in $ctrl.getCurrentPreg(pregnancy.Id) track by $index">
                                                    <td>{{state.Date | ildate: 'DD/MM/YYYY'}}</td>
                                                    <td>{{state.name}}</td>
                                                    <td>{{state.Cost}} </td>
                                                    <td> <i class="fa fa-check-circle-o green" ng-show="state.IsPaid=='1'" aria-hidden="true"></i></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="pregnancyForm">
                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="$ctrl.newPregnancy.Date" placeholder="תאריך" required />
                            </div>
                            <div class="form-group">

                                <select class="form-control" ng-model="$ctrl.newPregnancy.HozimId" required>
                                    <option value="">בחר חוזה</option>
                                    <option ng-repeat="hozim in $ctrl.getHozim()|orderBy:'-Date'" value="{{hozim.Id}}">{{hozim.Id}} - {{hozim.Date | ildate: 'DD/MM/YYYY'}}  - {{hozim.FatherName}}</option>
                                </select>


                                <!--<input type="text" class="form-control" ng-model="$ctrl.newPregnancy.Father" placeholder="סוס אב" />-->
                            </div>
                            <div class="form-group">
                                <label><input type="checkbox" ng-model="$ctrl.newPregnancy.IsSurrogate"> הריון אומנת</label>
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="$ctrl.addPregnancy()" ng-disabled="pregnancyForm.$invalid" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'">הוספת הריון</button>

                            <button type="button" ng-if="$ctrl.pregnancies.length > 0 && !$ctrl.pregnancies[$ctrl.pregnancies.length-1].Finished" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'" class="btn btn-default" ng-click="$ctrl.stopPregnancy()">סיום הריון</button>


                        </form>
                    </div>
                </div>

                <!--current pregnancy-->
                <div class="panel panel-default" ng-if="$ctrl.pregnancies.length > 0 && !$ctrl.pregnancies[$ctrl.pregnancies.length-1].Finished">
                    <div class="panel-heading">
                        הריון נוכחי {{($ctrl.horse.HorseLocation=='outer')?'(חוץ לחווה)':''}}
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>תאריך</th>
                                <th>שלב</th>
                                <th>מחיר</th>
                                <th>שולם</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="state in $ctrl.getCurrentPreg() track by $index">
                                <td>{{state.Date | ildate: 'DD/MM/YYYY'}}</td>
                                <td width="50%">{{state.name}}</td>
                                <td width="20%"><input type="number" class="form-control" ng-model="state.Cost" /></td>
                                <td> <i class="fa fa-check-circle-o green" ng-show="state.IsPaid=='1'" aria-hidden="true"></i></td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form name="pregnancyStateForm">
                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="$ctrl.newPregnancyState.Date" placeholder="תאריך" required />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="$ctrl.newPregnancyState.State.name" placeholder="שלב" disabled required />
                            </div>
                            <!--<div class="form-group">
                                <input type="number" class="form-control" ng-model="$ctrl.newPregnancyState.State.Cost" placeholder="מחיר"   />
                            </div>-->


                            <div class="form-group">
                                <select class="form-control" ng-if="$ctrl.newPregnancyState.State.id == 'surrogatePregnancy'" ng-model="$ctrl.pregnancies[$ctrl.pregnancies.length-1].Surrogate"
                                        ng-options="{Id:horse.Id,Name:horse.Name} as horse.Name for horse in $ctrl.horses | surrogateHorse: $ctrl.horse"
                                        required>
                                    <option value="">בחר אם פונדקאית</option>
                                </select>
                            </div>
                            <button type="submit" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'" class="btn btn-success" ng-click="$ctrl.addPregnancyState()" ng-disabled="pregnancyStateForm.$invalid">עבור שלב</button>
                            <button type="button" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'" class="btn btn-default" ng-click="$ctrl.stopPregnancy()">סיום הריון</button>
                            <button type="button" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'" class="btn btn-default" ng-click="$ctrl.removePregnancyState()" ng-disabled="$ctrl.getCurrentPreg().length <= 1">מחיקת שלב</button>
                        </form>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="3" heading="הרבעות" ng-if="$ctrl.horse.Gender == 'male' &&  $ctrl.role!='vetrinar' && $ctrl.role!='shoeing'">

                <!--pregnancies-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        הרבעות
                    </div>
                    <table class="table">
                        <thead>

                            <tr>
                                <td colspan="2">
                                    מתאריך:<br>
                                    <input type="date" ng-model="$ctrl.dateFromHorse">
                                </td>
                                <td colspan="2">
                                    עד תאריך:<br>
                                    <input type="date" ng-model="$ctrl.dateToHorse">
                                </td>
                                <td colspan="6">
                                </td>
                                <!--<td colspan="4">
                                    <br>
                                    <button class="btn btn-primary btn-xs" ng-click="showDetails=!showDetails;">{{showDetails ? 'הצג הערות משרד' : 'הצג הערות מדריך'}} </button>
                                    <button style="float:left;margin-right:3px" class=" btn btn-success btn-xs" ng-click="$ctrl.printLessons()"> הדפסה </button>
                                    <button style="float:left;margin-right:3px" class=" btn btn-primary btn-xs" ng-click="$ctrl.printExcel()"> Excel </button>

                                </td>-->
                            </tr>








                            <tr>
                                <th>תאריך</th>
                                <th>סוג</th>
                                <th>תאריך הזרעה</th>
                                <th>שם סוסה</th>
                                <th>מס' סידורי</th>
                                <th>בעלים</th>
                                <th>תאריך קליטה</th>
                                <th>צפי משוער לידה</th>
                                <th>זיכוי</th>
                                <th>שולם</th>
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <tbody ng-click="showDivIns = !showDivIns" ng-repeat="insemination in $ctrl.inseminations | dateRangeHorse:$ctrl.dateFromHorse:$ctrl.dateToHorse">


                            <tr ng-class="$ctrl.getClassForinsemination(insemination)" ng-if="insemination.HalivaDate">

                                <td><span ng-if="insemination.HalivaDate">{{insemination.HalivaDate | ildate: 'DD/MM/YYYY'}}</span></td>
                                <td><span ng-if="insemination.HalivaDate">{{$ctrl.getInseminationTypeName(insemination.Type)}}</span></td>
                                <td><span ng-if="insemination.InseminationDate">{{insemination.InseminationDate | ildate: 'DD/MM/YYYY'}}</span></td>

                                <td><a ui-sref="horse({id:insemination.PregnanciesHorseId})">{{insemination.Susa}}</a></td>
                                <td>{{insemination.SusaSiduri}}</td>
                                <td><a ui-sref="student({id:insemination.OwnerId})">{{insemination.SusaOwner}}</a></td>

                                <td><span ng-if="insemination.HerionDate">{{insemination.HerionDate | ildate: 'DD/MM/YYYY'}}</span></td>
                                <td><span ng-if="insemination.LedaDate">{{insemination.LedaDate | ildate: 'DD/MM/YYYY'}}</span></td>

                                <td>{{insemination.Cost}}</td>
                                <td>{{insemination.Sum}}</td>
                                <!--<td><button class="btn btn-xs btn-default" ng-click="$ctrl.removeInsemination(insemination)">הסר</button></td>-->
                            </tr>


                            <tr ng-show="showDivIns">

                                <td colspan="10" style="background:#ffcc99">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th>סטטוס</th>
                                                <th>תאריך הזרעה</th>
                                                <th>שם סוסה</th>
                                                <th>מס' סידורי</th>
                                                <th>בעלים</th>
                                                <th>תאריך קליטה</th>
                                                <th>צפי משוער לידה</th>

                                                <!--<th></th>-->
                                            </tr>
                                        </thead>



                                        <tr ng-repeat="inse in $ctrl.getCurrentHozim(insemination.HozimId) track by $index" ng-class="$ctrl.getClassForinsemination(inse)">

                                            <td>{{(inse.StatusLeda==1)?'לידה': ((inse.StatusLeda==2)?'לידה נכשלה':'הזרעה')}}</td>
                                            <td><span ng-if="inse.InseminationDate">{{inse.inseDate | ildate: 'DD/MM/YYYY'}}</span></td>

                                            <td>{{inse.Susa}}</td>
                                            <td>{{inse.SusaSiduri}}</td>
                                            <td>{{inse.SusaOwner}}</td>

                                            <td><span ng-if="inse.HerionDate">{{inse.HerionDate | ildate: 'DD/MM/YYYY'}}</span></td>
                                            <td><span ng-if="inse.LedaDate">{{inse.LedaDate | ildate: 'DD/MM/YYYY'}}</span></td>


                                        </tr>
                                    </table>
                                </td>



                            </tr>




                        </tbody>


                        <tr style="background:#ffcc00">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>סיכום</th>
                            <th>{{$ctrl.getTotalHozim().Cost}}</th>
                            <th>{{$ctrl.getTotalHozim().Sum}}</th>
                            <!--<th></th>-->
                        </tr>




                    </table>
                    <div class="panel-footer" style="margin-top:20px">

                        <!--<form name="inserForm">
                            <div class="form-group">
                                <label>תאריך חליבה</label><br />
                                <input type="date" class="form-control" ng-model="$ctrl.newInsemination.HalivaDate" placeholder="תאריך חליבה" />
                            </div>



                            <div class="form-group">
                                <label>סוסה להזרעה</label><br />
                                <select class="form-control" ng-options="sus.Id as sus.Name for sus in $ctrl.susut" ng-model="$ctrl.newInsemination.PregnanciesHorseId">
                                    <option value="">בחר סוסה</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>מחיר </label><br />
                                <input type="number" class="form-control" ng-model="$ctrl.newInsemination.Cost" placeholder="עלות כספית" />
                            </div>



                            <button type="submit" class="btn btn-success" ng-click="$ctrl.addInsemination()" ng-disabled="inserForm.$invalid" ng-show="$ctrl.role!='worker' && $ctrl.subrole!='worker'">הוספת הזרעה</button>
                        </form>-->
                    </div>
                </div>


            </uib-tab>
        </uib-tabset>
    </div>
</div>