<div class="panel panel-default">
    <div class="panel-heading">
        סוסים
    </div>
    <div class="panel-body">
        <a  class="btn btn-success btn-xs" ui-sref="horse({id:0})">סוס חדש</a>

        <a ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' " class="btn btn-primary btn-xs" ng-click="$ctrl.openModal()">ייבוא סוסים מחוות אחרות</a>
    </div>
    <div style="padding:10px">

        <input type="text" style="width:30%" class="form-control" ng-model="$ctrl.filter.$" placeholder="חיפוש חופשי" />
        <br />


        <uib-tabset active="active" class="tab-form-demo">
            <uib-tab active="true" index="0" heading="סוסים פעילים בחווה - {{$ctrl.getTotal(0)}}" style="font-weight:bold">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>שם</th>
                            <th ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' ">שם חווה</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="horse in $ctrl.horses  | orderBy:'Name' | orderBy:'Farm_Id' | filter: $ctrl.filter | filter:{'HorseLocation':'!outer','Active':'!notActive'}" ui-sref="horse({id:horse.Id})">


                            <td>{{horse.Name}} <span ng-if="horse.Active == 'notActive'" style="font-weight:bold;color:red">(לא פעיל)</span> </td>
                            <td ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' ">{{$ctrl.getFarmName(horse.Farm_Id)}}</td>

                        </tr>
                    </tbody>
                </table>

            </uib-tab>

            <uib-tab active="true" index="1" heading="סוסים לא פעילים בחווה - {{$ctrl.getTotal(1)}}" style="font-weight:bold">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>שם</th>
                            <th ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' ">שם חווה</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="horse in $ctrl.horses |  orderBy:'Name'  | orderBy:'Farm_Id' | filter: $ctrl.filter | filter:{'HorseLocation':'!outer','Active':'notActive'}" ui-sref="horse({id:horse.Id})">
                            <td> {{horse.Name}} <span ng-if="horse.Active == 'notActive'" style="font-weight:bold;color:red">(לא פעיל)</span> </td>
                            <td ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' ">{{$ctrl.getFarmName(horse.Farm_Id)}}</td>
                        </tr>
                    </tbody>
                </table>

            </uib-tab>

            <uib-tab index="2" heading="סוסים חוץ לחווה - {{$ctrl.getTotal(2)}}" style="font-weight:bold">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>שם</th>
                            <th ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' ">שם חווה</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="horse in $ctrl.horses | orderBy:'Name' |  orderBy:'Farm_Id' | filter: $ctrl.filter | filter:{'HorseLocation':'outer'}" ui-sref="horse({id:horse.Id})">
                            <td> {{horse.Name}} <span ng-if="horse.Active == 'notActive'" style="font-weight:bold;color:red">(לא פעיל)</span> </td>
                            <td ng-if="$ctrl.role=='vetrinar' || $ctrl.role=='shoeing' ">{{$ctrl.getFarmName(horse.Farm_Id)}}</td>
                        </tr>
                    </tbody>
                </table>

            </uib-tab>




        </uib-tabset>


    </div>



    <!--<table class="table table-hover">
        <thead>
            <tr>
                <th>שם</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1">
                    <input type="text" class="form-control" ng-model="$ctrl.filter.$" placeholder="חיפוש חופשי" />
                </td>
            </tr>
            <tr ng-repeat="horse in $ctrl.horses | filter: $ctrl.filter" ui-sref="horse({id:horse.Id})">
                <td> {{horse.Name}} <span ng-if="horse.Active == 'notActive'" style="font-weight:bold;color:red">(לא פעיל)</span> </td>









            </tr>
        </tbody>
    </table>-->
</div>

<div class="modal fade" id="modalHavot" style="z-index:50000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">בחירת סוסים מחוות</h4>
            </div>
            <div class="modal-body">


                <table class="table">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>מס' חווה</th>
                            <th>שם חווה</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="horsevetrinar in $ctrl.horsevetrinars">

                            <td>{{$index + 1}}</td>
                            <td>{{horsevetrinar.FarmIdAdd}}</td>
                            <td>{{$ctrl.getFarmName(horsevetrinar.FarmIdAdd)}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="$ctrl.action(1,horsevetrinar)">הסר סוסים </button>
                            </td>




                        </tr>

                        <tr>
                            <td colspan="2">הוסף חווה</td>
                            <td colspan="1">
                                <select class="form-control" ng-options="farm.Id as farm.Name for farm in $ctrl.getFilerArray()" ng-model="$ctrl.newhorsevetrinars.FarmId" >
                                    <option value="">בחר חווה</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.newhorsevetrinars.FarmId" ng-click="$ctrl.action(2)">הוסף סוסים</button>
                            </td>

                        </tr>



                    </tbody>
                </table>


                <div style="text-align:left">


                    <button type="button" class="btn btn-primary" ng-click="$ctrl.action(3)" data-dismiss="modal">שמור</button>
                    <button type="button" class="btn btn-danger"  data-dismiss="modal">ביטול </button>
                </div>
            </div>
        </div>
    </div>
</div>