<div class="event-background" ng-if="$ctrl.studentid != null" ng-click="$ctrl.hide($event)">

    <div class="event" id="dvMain">
        <div class="form-group">
            <label><u>דו"ח חודשי</u></label>
            <button class="btn btn-success " ng-click="$ctrl.printReport()" style="float:left">הדפס דו"ח</button>
        </div>
       
        
        
        <div style="float:right">
            <label>שם חווה: </label>&nbsp;{{$ctrl.farmName}} <br />
            <label>שם תלמיד: </label>&nbsp;{{$ctrl.userName}} &nbsp;<label>ת.ז: </label>&nbsp;{{$ctrl.userTaz}}
        </div>

        <div style="float:left">
            <label>שם מדריך: </label>&nbsp;{{$ctrl.instructorName}}
        </div>


        <div class="clearfix"></div>


        <div class="panel panel-default" >
            <div class="panel-heading">
                דו"ח חודשי לחודש - <b>{{$ctrl.monthlyReportData[0].Date | date:'MM/yyyy' }}</b>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>תאריך</th>
                        <th>טקסט</th>
                        <!--<th>מחיקה</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in $ctrl.monthlyReportData">
                        <td>{{detail.Date | date:'dd/MM/yyyy'}}</td>
                        <td>{{detail.Details}}</td>
                        <!--<td><button class="btn btn-danger btn-xs" ng-click="$ctrl.removeTextDetail(detail)">מחיקה</button></td>-->
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">


                <!--<div class="form-group">
                    <textarea rows="4" type="text" class="form-control" placeholder="טקסט" ng-model="$ctrl.newTextDetail.Text"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="$ctrl.addTextDetail()">הוספה</button>
                </div>-->
            </div>
        </div>
        <button class="btn btn-default" ng-click="$ctrl.close()" href="">סגור</button>

    </div>
</div>