.ng-invalid {
    border-color: red;
}

.green {
    color: #449d44;
}

.set-status {
    background-color: #ffeeee;
}

.tab-pane {
    margin-top: 20px;
}

.warning-icon {
    background-image: url(../images/warning-icon.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.notarrive-icon {
    background-image: url(../images/notArrive.png);
    background-position: top left;
    background-repeat: no-repeat;
    
}

.approve-icon {
    background-image: url(../images/approve-icon.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.approve-arrive {
    background-image: url('../images/‏‏approve-arrive.png');
    background-position: top left;
    background-repeat: no-repeat;
}

.returnred-icon {
    background-image: url(../images/returnred.png);
    background-position: top left;
    background-repeat: no-repeat;
}



.returngreen-icon {
    background: url(../images/returngreen.png);
    background-position: top left;
    background-repeat: no-repeat;
}



.returnred-iconfloat {
    background: url(../images/returnred.png) ,url(../images/warning-icon.png);
    background-position: top left 10px,top left ;
    background-repeat: no-repeat;
}


.returngreen-iconfloat {
    background: url(../images/returngreen.png) ,url(../images/approve-icon.png);
    background-position: top left 10px,top left ;
    background-repeat: no-repeat;
  
    
}



.redvi-icon {
    background-image: url(../images/approve-iconred.png),url(../images/currency.png);
    background-position: top left 10px,top left ;
    background-repeat: no-repeat;
   

}

.redvi2-icon {
    background-image: url(../images/approve-iconred.png),url(../images/currencyred.png);
    background-position: top left 10px,top left;
    background-repeat: no-repeat;

}


.klalit {
    background-image: url(../images/klalit.jpg);
    background-position: top left 10px,top left;
    background-repeat: no-repeat;
}


.kvutza-icon {
    background-image: url(../images/kvutza.png);
    background-size:15px;
    background-position: top left;
    background-repeat: no-repeat;
   
}


.hmoImage {
    position:absolute;
    left: 25px;
}

/*.fc-agendaWeek-view tr {
    height: 40px;
}

.fc-agendaDay-view tr {
    height: 40px;
}*/

/*.fc-slats td{
    height: 50px !important;
}*/
/*.fc-cell-content {
    min-height: 50px;
}*/

.expandable-collapsed tr:nth-child(n+3) {
    display: none;
}
.expandable-collapsed tbody:nth-child(n+4) {
    display: none;
}


.table-control {
    width: 100%;
}


.tiyulBody {
    
   
    
}

.tiyulBody::before {
    content: "";
    background-image: url(../../../../../images/ridder.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

