<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <globalization culture="he-IL" uiCulture="he-IL" />

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
     
    </handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Farms" connectionString="Data Source=localhost;Initial Catalog=dudi;User ID=dudi_db;Password=Dd123456Dd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GoogleAppId" value="AAAAWeE-fc0:APA91bFxUbzDHOhpWcboYeTw5d3MXftZgbc-CoGvUcbi15im9QSzfPpHdYZ5jwaW79lVV3o_HXwW1hAboRYsYiGEyow_SoB9CXaq41zovb901znhL_pq1jZBbuD6dqC_nUHoIGNW3cUE3QpFC2SWGDhu5lbaoEez5A"></add>
    <add key="SenderId" value="386031058381"></add>

    <add key="IsProduction" value="1"/>

   

    <add key="SlikaUrlAsraiValidate" value="https://api.ezcount.co.il/api/payment/validate/"/>
    <add key="SuccessUrlAshrai" value="http://giddyup.co.il/close.html"/>
    <add key="SlikaUrlAshrai" value="https://api.ezcount.co.il/api/payment/prepareSafeUrl/clearingFormForMerchant"/>

    <add key="SuccessUrlToken" value="https://www.giddyup.co.il/#/closetoken?aaa=5454545"/>
    <add key="SlikaUrlToken" value="https://api.ezcount.co.il/api/payment/prepareSafeUrl/token"/>
    <add key="SlikaUrlChargeToken" value="https://api.ezcount.co.il/api/payment/chargeToken"/>
    
  </appSettings>
</configuration>
<!--ProjectGuid: {FC8E07DA-8050-41F5-A7F5-F7140654EEA8}-->